/*header, mobile popup*/

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    position: relative;
  }
  
  .popup {
    display: none;
    width: 100%;
    height: 350px;
    border-radius: 0 0 30px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 30px 0 0 50px;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
  }
  
  .popup a {
    display: block;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .popup__item {
    position: relative;
    width: 100%;
  }
  
  .popup__item button {
    position: absolute;
    top: -10px;
    right: 25px;
    font-size: 30px;
    background-color: transparent;
  }
  
  .popup__item .nav__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
  }
  
  .nav__burger {
    display: none;
    height: 80px;
    padding: 20px 0 0 10px;
  }
  
  .nav__burger span {
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
    background-color: black;
    margin-top: 7px;
    cursor: pointer;
  }
  
  .down {
    position: absolute;
    bottom: -5%;
    left: 48%;
  }
  
  .header {
    height: 100%;
    background: url("../img/header/01.png") 0 0/100% 100% no-repeat;
    position: relative;
  }
  
  .header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1640px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__element {
    width: 612px;
    height: 223px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .nav__left a {
    display: inline-block;
    cursor: pointer;
    width: 179px;
    height: 100px;
    border-radius: 0 0 22px 22px;
    background-color: #0f7bff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #feffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .nav__left a:hover {
    background-color: #003555;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .nav__right {
    width: 571px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .right__menu {
    width: 353px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .right__menu-item {
    position: relative;
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
  }
  
  .right__menu-item:hover::after {
    display: block;
    position: absolute;
    left: 0;
    height: 1px;
    background-color: #929292;
    content: '';
    -webkit-transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 100%;
  }
  
  .activ {
    color: #0f7bff;
  }
  
  .btn {
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color: #0063dd;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }
  
  .btn:hover {
    border-color: transparent;
    background-color: #003555;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .btn:active {
    background-color: #28ff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .element__title {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .element__text {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
  
  .button__dowload {
    background-color: #0f7bff;
    margin-right: 30px;
  }
  
  .-white {
    background-color: #f5fcfd;
    border: 2px solid #0f7bff;
    color: #0f7bff;
  }
  
  .-white:hover {
    color: #f5fcfd;
  }
  
  @media only screen and (min-width: 1950px) and (max-width: 2560px) {
    .header__nav {
      width: 2050px;
    }
    .down {
      position: absolute;
      bottom: -4%;
      left: 49%;
    }
  }
  
  @media only screen and (max-width: 1440px) {
    .header__nav {
      width: 1300px;
    }
    .header__element {
      width: 550px;
      height: 200px;
    }
    .header__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header__img img {
      width: 70%;
    }
    .nav__left a {
      width: 160px;
      height: 80px;
      font-size: 32px;
    }
    .nav__right {
      width: 500px;
    }
    .right__menu {
      width: 300px;
    }
    .right__menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 27px;
    }
    .btn {
      width: 150px;
      height: 40px;
      font-size: 15px;
      font-weight: 700;
      line-height: 27px;
    }
    .element__title {
      font-size: 28px;
    }
    .element__text {
      font-size: 14px;
    }
    .button__dowload {
      margin-right: 20px;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .down {
      position: absolute;
      bottom: -4%;
      left: 47%;
    }
    .header__nav {
      width: 950px;
    }
    .header__element {
      width: 460px;
      height: 200px;
    }
    .header__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header__img img {
      width: 70%;
    }
    .nav__left a {
      width: 140px;
      height: 70px;
      font-size: 28px;
    }
    .nav__right {
      width: 500px;
    }
    .right__menu {
      width: 300px;
    }
    .right__menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 27px;
    }
    .btn {
      width: 130px;
      height: 35px;
      font-size: 12px;
      font-weight: 700;
      line-height: 27px;
    }
    .element__title {
      font-size: 24px;
    }
    .element__text {
      font-size: 12px;
    }
    .button__dowload {
      margin-right: 20px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .down {
      position: absolute;
      bottom: -5%;
      left: 46%;
    }
    .header__nav {
      width: 720px;
    }
    .header__element {
      width: 430px;
      height: 200px;
    }
    .header__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header__img img {
      width: 80%;
    }
    .nav__left a {
      width: 120px;
      height: 60px;
      font-size: 24px;
    }
    .nav__right {
      width: 500px;
    }
    .right__menu {
      width: 300px;
    }
    .right__menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 27px;
    }
    .btn {
      width: 100px;
      height: 30px;
      font-size: 12px;
      font-weight: 700;
      line-height: 27px;
    }
    .element__title {
      font-size: 24px;
    }
    .element__text {
      font-size: 12px;
    }
    .button__dowload {
      margin-right: 20px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .down {
      position: absolute;
      bottom: -5%;
      left: 42%;
    }
    .header {
      background: url("../img/header/01.png") 0 0/auto auto no-repeat;
    }
    .header__nav {
      width: 300px;
    }
    .header__element {
      width: 310px;
      height: 250px;
    }
    .header__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header__img img {
      width: 100%;
    }
    .nav {
      position: relative;
    }
    .nav__left {
      display: none;
    }
    .nav__right {
      width: 300px;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
    .nav__burger {
      display: block;
    }
    .right__menu {
      display: none;
      width: 300px;
    }
    .right__menu-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 27px;
    }
    .btn {
      width: 100px;
      height: 30px;
      font-size: 12px;
      font-weight: 700;
      line-height: 27px;
    }
    .element__title {
      font-size: 24px;
    }
    .element__text {
      font-size: 12px;
    }
    .button__dowload {
      margin-right: 20px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .down {
      position: absolute;
      bottom: -5%;
      left: 39%;
    }
  }
  
  .anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .anchor a {
    display: none;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #d4d4d4;
  }
  
  .anchor .anchor-active {
    background-color: #0f7bff;
  }