/* footer ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  height: 100px;
  background-color: #0f7bff;
  border-top: 1px solid #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.footer__link {
  width: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__up {
  margin-right: 140px;
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 30px;
}

.link__menu {
  width: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link__menu a {
  display: inline-block;
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.social {
  min-width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  display: inline-block;
}

.link__menu .footer__active {
  color: #ffffff;
}

@media only screen and (max-width: 1440px) {
  .footer__up {
    margin-right: 0;
    right: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .footer__container {
    width: 750px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__up {
    right: 2%;
  }
  .link__menu {
    width: 348px;
  }
  .link__menu a {
    font-size: 14px;
  }
  .footer__link {
    width: 400px;
  }
  .link__menu {
    width: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__container {
    width: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer__up {
    right: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .footer__container {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__text {
    font-size: 8px;
  }
  .footer__up {
    bottom: 1%;
    right: 5%;
  }
}

@media only screen and (max-width: 375px) {
  .footer__container {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__text {
    font-size: 8px;
  }
  .footer__up {
    bottom: 1%;
    right: 3%;
  }
  .footer__link {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .link__menu {
    width: 300px;
  }
  .link__menu a {
    font-size: 10px;
  }
  .link__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .link__social a {
    margin-right: 10px;
  }
}
/*header, mobile popup*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

.popup {
  display: none;
  width: 100%;
  height: 350px;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 30px 0 0 50px;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.popup a {
  display: block;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.popup__item {
  position: relative;
  width: 100%;
}

.popup__item button {
  position: absolute;
  top: -10px;
  right: 25px;
  font-size: 30px;
  background-color: transparent;
}

.popup__item .nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.nav__burger {
  display: none;
  height: 80px;
  padding: 20px 0 0 10px;
}

.nav__burger span {
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
  background-color: black;
  margin-top: 7px;
  cursor: pointer;
}

.down {
  position: absolute;
  bottom: -5%;
  left: 48%;
}

.header {
  height: 100%;
  background: url("../img/header/01.png") 0 0/100% 100% no-repeat;
  position: relative;
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__element {
  width: 612px;
  height: 223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav__left a {
  display: inline-block;
  cursor: pointer;
  width: 179px;
  height: 100px;
  border-radius: 0 0 22px 22px;
  background-color: #0f7bff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #feffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
}

.nav__left a:hover {
  background-color: #003555;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__right {
  width: 571px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__menu {
  width: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__menu-item {
  position: relative;
  color: #929292;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
}

.right__menu-item:hover::after {
  display: block;
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #929292;
  content: '';
  -webkit-transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 100%;
}

.activ {
  color: #0f7bff;
}

.btn {
  width: 165px;
  height: 50px;
  border-radius: 25px;
  background-color: #0063dd;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.btn:hover {
  border-color: transparent;
  background-color: #003555;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:active {
  background-color: #28ff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.element__title {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
}

.element__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.button__dowload {
  background-color: #0f7bff;
  margin-right: 30px;
}

.-white {
  background-color: #f5fcfd;
  border: 2px solid #0f7bff;
  color: #0f7bff;
}

.-white:hover {
  color: #f5fcfd;
}

@media only screen and (min-width: 1950px) and (max-width: 2560px) {
  .header__nav {
    width: 2050px;
  }
  .down {
    position: absolute;
    bottom: -4%;
    left: 49%;
  }
}

@media only screen and (max-width: 1440px) {
  .header__nav {
    width: 1300px;
  }
  .header__element {
    width: 550px;
    height: 200px;
  }
  .header__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img img {
    width: 70%;
  }
  .nav__left a {
    width: 160px;
    height: 80px;
    font-size: 32px;
  }
  .nav__right {
    width: 500px;
  }
  .right__menu {
    width: 300px;
  }
  .right__menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
  }
  .btn {
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
  }
  .element__title {
    font-size: 28px;
  }
  .element__text {
    font-size: 14px;
  }
  .button__dowload {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .down {
    position: absolute;
    bottom: -4%;
    left: 47%;
  }
  .header__nav {
    width: 950px;
  }
  .header__element {
    width: 460px;
    height: 200px;
  }
  .header__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img img {
    width: 70%;
  }
  .nav__left a {
    width: 140px;
    height: 70px;
    font-size: 28px;
  }
  .nav__right {
    width: 500px;
  }
  .right__menu {
    width: 300px;
  }
  .right__menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
  }
  .btn {
    width: 130px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
  }
  .element__title {
    font-size: 24px;
  }
  .element__text {
    font-size: 12px;
  }
  .button__dowload {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .down {
    position: absolute;
    bottom: -5%;
    left: 46%;
  }
  .header__nav {
    width: 720px;
  }
  .header__element {
    width: 430px;
    height: 200px;
  }
  .header__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img img {
    width: 80%;
  }
  .nav__left a {
    width: 120px;
    height: 60px;
    font-size: 24px;
  }
  .nav__right {
    width: 500px;
  }
  .right__menu {
    width: 300px;
  }
  .right__menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
  }
  .btn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
  }
  .element__title {
    font-size: 24px;
  }
  .element__text {
    font-size: 12px;
  }
  .button__dowload {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .down {
    position: absolute;
    bottom: -5%;
    left: 42%;
  }
  .header {
    background: url("../img/header/01.png") 0 0/auto auto no-repeat;
  }
  .header__nav {
    width: 300px;
  }
  .header__element {
    width: 310px;
    height: 250px;
  }
  .header__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img img {
    width: 100%;
  }
  .nav {
    position: relative;
  }
  .nav__left {
    display: none;
  }
  .nav__right {
    width: 300px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__burger {
    display: block;
  }
  .right__menu {
    display: none;
    width: 300px;
  }
  .right__menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
  }
  .btn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
  }
  .element__title {
    font-size: 24px;
  }
  .element__text {
    font-size: 12px;
  }
  .button__dowload {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .down {
    position: absolute;
    bottom: -5%;
    left: 39%;
  }
}

.anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anchor a {
  display: none;
  width: 30px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #d4d4d4;
}

.anchor .anchor-active {
  background-color: #0f7bff;
}
/*features----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.features {
  background-color: #f5fcfd;
  min-height: 635px;
  padding: 165px  0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  height: 340px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.container {
  width: 1370px;
  height: 100%;
}

.item__analysis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 360px;
  height: 290px;
  -webkit-box-shadow: 0 0 25px #f0f0f0;
          box-shadow: 0 0 25px #f0f0f0;
  padding: 40px 0;
  border-radius: 5px;
  background-color: #ffffff;
}

.item__analysis:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item__title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.item__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

@media only screen and (max-width: 1024px) {
  .features__item {
    height: 320px;
    width: 950px;
  }
  .item__analysis {
    width: 300px;
    height: 230px;
  }
  .item__title {
    font-size: 16px;
  }
  .item__text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .features__item {
    height: 400px;
    width: 620px;
  }
  .item__analysis {
    width: 200px;
    height: 380px;
  }
  .item__title {
    font-size: 16px;
  }
  .item__text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .features {
    min-height: 500px;
  }
  .features__item {
    margin-top: 50px;
    scroll-behavior: smooth;
    overflow: hidden;
    height: 400px;
    width: 200px;
  }
  .item__analysis {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    width: 200px;
    height: 380px;
  }
  .item__analysis:nth-child(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .item__title {
    font-size: 16px;
  }
  .item__text {
    font-size: 12px;
  }
  .anchor {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .anchor a {
    display: block;
  }
}
/*about------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 96px;
}

.about__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 96px;
}

.about__down .about-item__img {
  direction: rtl;
}

.about-item__img {
  width: auto;
}

.about-item__block {
  width: 544px;
  height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block {
  max-width: 544px;
}

.block__title {
  color: #333333;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.block__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.block__read-more {
  color: #0f7bff;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  display: block;
  width: 102px;
  background: url(../img/icons/01.svg) right 10px no-repeat;
}

@media only screen and (max-width: 1440px) {
  .about-item {
    width: 1100px;
    margin: 0 auto;
  }
  .about-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-item__img img {
    width: 70%;
  }
  .block__title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-item {
    width: 900px;
    margin: 0 auto;
  }
  .about-item__img img {
    width: 70%;
  }
  .about-item__block {
    width: 544px;
    height: 230px;
  }
  .block {
    max-width: 544px;
  }
  .block__title {
    font-size: 26px;
  }
  .block__text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .about__up {
    padding-right: 70px;
  }
  .about__down {
    padding-left: 70px;
  }
  .about-item {
    width: 700px;
  }
  .about-item__img img {
    width: 90%;
  }
  .about-item__block {
    width: 600px;
    height: 250px;
  }
  .block {
    max-width: 600px;
  }
  .block__title {
    font-size: 26px;
  }
  .block__text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .about__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 0;
  }
  .about__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 0;
  }
  .about-item {
    width: 300px;
    padding-top: 20px;
  }
  .about-item__img {
    margin-bottom: 20px;
  }
  .about-item__img img {
    width: 90%;
  }
  .about-item__block {
    width: 300px;
    height: 200px;
  }
  .block {
    max-width: 300px;
    padding-bottom: 20px;
  }
  .block__title {
    font-size: 18px;
  }
  .block__text {
    font-size: 10px;
  }
  .block__read-more {
    font-size: 12px;
    display: block;
    width: 100px;
    background: url(../img/icons/01.svg) right 10px no-repeat;
  }
}

@media only screen and (max-width: 320px) {
  .about-item {
    width: 280px;
  }
  .about-item__block {
    width: 280px;
  }
  .block {
    max-width: 280px;
  }
}
/*how block------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.how {
  min-height: 646px;
  background-color: #f5fcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__container {
  max-width: 1076px;
  min-height: 389px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__create {
  position: relative;
}

.contain {
  max-width: 731px;
  min-height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contain__title {
  color: #333333;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.contain__text {
  color: #929292;
  font-size: 15.8px;
  font-weight: 400;
  line-height: 27px;
}

.create {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__item {
  z-index: 2;
}

.account {
  width: 297px;
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 93px 0 0;
}

.account:nth-child(3) {
  margin: 0 0 0 0;
}

.account__title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.account__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.how__line {
  position: absolute;
  right: 0;
  left: 18%;
  top: 25%;
  width: 690px;
  height: 1px;
  border: 1px dotted #0f7bff;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .contain__title {
    font-size: 30px;
  }
  .contain__text {
    font-size: 14px;
  }
  .account {
    margin: 0 70px 0 0;
  }
  .account:nth-child(3) {
    margin: 0 0 0 0;
  }
  .account__title {
    font-size: 16px;
  }
  .account__text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .contain__title {
    font-size: 28px;
  }
  .contain__text {
    font-size: 14px;
  }
  .account {
    margin: 0 25px 0 0;
    width: 230px;
    height: 180px;
  }
  .account:nth-child(3) {
    margin: 0 0 0 0;
  }
  .account__title {
    font-size: 14px;
  }
  .account__text {
    font-size: 12px;
  }
  .account__img img {
    width: 30%;
  }
  .how__line {
    top: 20%;
    width: 500px;
  }
}

@media only screen and (max-width: 425px) {
  .how__container {
    padding: 0 10px 15px 10px;
  }
  .create {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .create__item {
    z-index: 2;
  }
  .contain {
    margin: 10px 0 30px 0;
  }
  .contain__title {
    font-size: 22px;
  }
  .contain__text {
    font-size: 12px;
  }
  .account {
    width: 250px;
    height: 180px;
    margin: 10px 0 30px 0;
  }
  .account__title {
    font-size: 14px;
  }
  .account__text {
    font-size: 12px;
  }
  .how__line {
    display: none;
  }
}
/*prices------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.pricing {
  min-height: 836px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__wrap {
  max-width: 1141px;
  min-height: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  max-width: 360px;
  min-height: 576px;
  padding-right: 25px;
}

.plan__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
}

.plan__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 38px;
}

.plan__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.plan__month {
  width: 165px;
  height: 50px;
}

.month-left {
  border-radius: 25px 0 0 25px;
}

.month-right {
  border-radius: 0 25px 25px 0;
  background-color: transparent;
}

.price-list {
  width: 360px;
  height: 576px;
  -webkit-box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
          box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 40px 0;
  margin: 0 15px;
  text-align: center;
}

.price-list:nth-child(3) {
  margin-right: 0;
}

.price-list__title {
  color: #333333;
  width: 165px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  position: relative;
}

.price-list__title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  bottom: -60%;
  left: 0;
}

.price-list__text {
  color: #929292;
  height: 154px;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.price-list__price {
  color: #0f7bff;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.price-list__price span {
  font-size: 16px;
}

.price-list__button {
  width: 165px;
  height: 50px;
  border-radius: 25px;
}

@media only screen and (max-width: 1024px) {
  .price-list {
    width: 276px;
  }
}

@media only screen and (max-width: 768px) {
  .plan__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .plan__text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .pricing__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .price-list__price {
    font-size: 28px;
  }
  .price-list__text {
    height: 130px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
  .plan {
    min-height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-list {
    height: 500px;
    padding: 20px 0 20px 0;
  }
  .pricing__standart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
  }
  .pricing__premium {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
  }
}

@media only screen and (max-width: 425px) {
  .price-list:nth-child(3) {
    margin-right: 20px;
  }
  .plan {
    margin: 0;
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .plan__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .plan__text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .plan__button {
    width: 250px;
    height: 50px;
    border-radius: 25px;
  }
  .pricing__wrap {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .price-list__price {
    font-size: 22px;
  }
  .price-list__text {
    height: 130px;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  .plan {
    min-height: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-list {
    height: 500px;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
  }
  .pricing__standart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 267px;
            flex: 0 1 267px;
  }
  .pricing__premium {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
  }
}

@media only screen and (max-width: 425px) {
  .pricing__standart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
  }
  .pricing__premium {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
  }
}

.price-list:nth-child(3) {
  margin-right: 15px;
}
/*testimonials------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.testimonials {
  background-color: #f5fcfd;
  width: 100%;
  height: auto;
}

.testimonials__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  min-height: 348px;
  padding-left: 127px;
}

.trusted__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  max-height: 215px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  width: 360px;
  height: 215px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px rgba(165, 165, 165, 0.2);
          box-shadow: 0 0 25px rgba(165, 165, 165, 0.2);
  border-radius: 5px;
  padding: 38px 30px;
  margin-right: 30px;
}

.trusted__title {
  color: #333333;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.slider__title {
  background: url("../img/testimonials/02.svg") right 5px no-repeat;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.slider__name {
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 15px;
}

.slider__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.slider__btn {
  width: 90px;
  height: 10px;
}

.slider__btn a {
  display: block;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background-color: #d4d4d4;
}

.slider__btn a.anchor-active {
  width: 30px;
  background-color: #0f7bff;
}

@media only screen and (min-width: 1950px) and (max-width: 2560px) {
  .trusted__wrap {
    max-width: 2000%;
    overflow: visible;
  }
}

@media only screen and (max-width: 1440px) {
  .testimonials__right {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .testimonials__img img {
    width: 90%;
  }
  .testimonials__right {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .testimonials__img img {
    width: 100%;
  }
  .trusted__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 230px;
    max-height: 215px;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  .testimonials__right {
    padding-left: 30px;
    padding-right: 0px;
  }
  .trusted__title {
    font-size: 28px;
  }
  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    height: 215px;
    padding: 25px 30px;
    margin-right: 30px;
  }
  .slider__title {
    font-size: 16px;
  }
  .slider__name {
    font-size: 12px;
  }
  .slider__text {
    font-size: 14px;
  }
}


@media only screen and (max-width: 425px) {
  .features {
    padding: 0 0 0 0;
  }
  .testimonials__img {
    display: none;
  }
  .trusted__wrap {
    max-width: 250px;
  }
  .trusted__title {
    font-size: 26px;
  }
  .testimonials {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .testimonials__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials__right {
    padding-bottom: 20px;
  }
  .trusted {
    width: 320px;
  }
}

@media only screen and (max-width: 320px) {
  .testimonials__img {
    display: none;
  }
  .trusted__wrap {
    max-width: 300px;
  }
  .trusted__title {
    font-size: 20px;
  }
  .testimonials {
    padding-top: 18px;
  }
}
/*news blog------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 960px;
}

.blog-title {
  max-width: 735px;
  margin: 0 auto;
  margin-bottom: 45px;
  position: relative;
}

.blog-title__title {
  color: #333333;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-bottom: 35px;
}

.blog-title__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.title-active {
  color: #0f7bff;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.news-left {
  padding-top: 5px;
  min-height: 530px;
  max-width: 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-left__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.news-right__title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

.blog-items {
  max-width: 1118px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-right__block {
  width: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-right__img {
  margin-right: 30px;
}

.news-left__read {
  width: 160px;
}

.blog-title__img {
  position: absolute;
  left: 43%;
  top: -10%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .news {
    min-height: 800px;
  }
  .blog-items {
    max-width: 950px;
  }
  .news-left__img img {
    width: 90%;
  }
  .container {
    width: 1024px;
  }
}

@media only screen and (max-width: 768px) {
  .news {
    margin: 20px 0;
  }
  .blog-items {
    max-width: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-left__img img {
    width: 90%;
  }
  .container {
    width: 768px;
  }
  .news-left {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .blog-title__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .news-right__block {
    width: 532px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .news-left {
    min-height: 430px;
    margin-bottom: 20px;
  }
  .title-active {
    text-align: center;
  }
  .news-left__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news {
    margin: 0;
  }
  .container {
    width: 425px;
  }
  .blog-title {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
  }
  .news-left {
    max-width: 425px;
  }
  .news-right__block {
    width: 400px;
  }
  .news-left__text {
    line-height: 22px;
    font-size: 14px;
  }
  .news-right__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .news-right__img {
    margin-right: 15px;
  }
  .blog-items {
    max-width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-title__img {
    left: 35%;
    top: -10%;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 375px;
  }
  .news-left {
    max-width: 375px;
    padding-left: 10px;
  }
  .news-right {
    padding-left: 0px;
  }
  .news-right__block {
    width: 360px;
  }
}

@media only screen and (max-width: 320px) {
  .blog-title__title {
    font-size: 24px;
  }
  .blog-title__text {
    color: #929292;
  }
  .blog-title {
    max-width: 320px;
    margin-bottom: 20px;
  }
  .blog-items {
    max-width: 320px;
  }
  .container {
    width: 320px;
  }
  .news-left {
    max-width: 310px;
    padding-left: 0px;
  }
  .news-left {
    min-height: 400px;
    margin-bottom: 10px;
  }
  .news-right__title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .news-left__text {
    font-size: 10px;
    line-height: 18px;
    padding-left: 0px;
  }
  .news-right__img img {
    width: 130px;
  }
  .news-left__read {
    width: 140px;
    padding-left: 10px;
  }
  .title-active {
    font-size: 18px;
    line-height: 32px;
  }
  .news-right {
    padding-left: 0px;
  }
  .news-right__block {
    width: 300px;
  }
}
/*trial------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.trial {
  background-color: #f5fcfd;
  height: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trial__container {
  width: 752px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trial__left {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trial__title {
  color: #333333;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.trial__text {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.trial__btn {
  display: block;
  width: 263px;
  height: 76px;
  border-radius: 5px;
  background-color: #0f7bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trial__btn span {
  width: 120px;
  background: url(../img/trial/01.svg) right 5px no-repeat;
}

@media only screen and (max-width: 768px) {
  .trial {
    height: 300px;
  }
  .trial__container {
    width: 650px;
  }
  .trial__left {
    height: 76px;
  }
  .trial__title {
    font-size: 28px;
  }
  .trial__text {
    font-size: 16px;
  }
  .trial__btn {
    width: 230px;
    height: 70px;
  }
}

@media only screen and (max-width: 425px) {
  .trial {
    height: 300px;
  }
  .trial__container {
    width: 300px;
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trial__left {
    height: 76px;
  }
  .trial__title {
    font-size: 24px;
  }
  .trial__text {
    font-size: 14px;
  }
  .trial__btn {
    width: 215px;
    height: 70px;
  }
}

.appson {
  height: 385px;
  width: 100%;
  background-color: #0f7bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
